@import "./variables.scss";
@import "./flexbox.scss";

.footer{
    background-color: $black;
    color: $white;
    @include flex;
    @include flex-col;
    img{
        height: 39px;
    }
    p{
        margin: 0;
        text-align: center;
    }
}