@import "./mixins.scss";
@import "./variables.scss";
@import './flexbox.scss';
@import './grid.scss';

body{
    margin: 0;
    padding: 40px 100px;
    font-family: $font-family;

    .navbar{
        @extend .flex;
        @extend .flex-row;
        @extend .justify-between;
        margin-bottom: 53px;
        
        .navlinks{
            @extend .flex;
            @extend .align-center;
            gap: 40px;
            a{
                color: $primary-color;
                font-size: $font-size-b;
                font-weight: $font-weight-normal;
            }
        }
    }

    .section-img{
        position: relative;
        overflow: hidden;
        height: $img-height;
        border-radius: $border-radius-b;
        margin-bottom: 43px;
        
        h1{
            margin: 0;
            @include center-block($z-first);
            color: $white;
            font-size: $font-size-xl;
            font-weight: $font-weight-normal;
            width: max-content;
        }
        
        .overlay{
            position: absolute;
            width: 100%;
            height: $img-height;
            border-radius: $border-radius-b;
            background-color: $black;
            opacity: 30%;
            z-index: $z-second;
        }
        
        img{
            @include center-block($z-third);
            width: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            border-radius: $border-radius-b;
        }
    
    }
    
    .cards{
        @extend .grid;
        @extend .grid-cols-3;
        row-gap: 50px;
        column-gap: 5%;
        padding: 50px 56px;
        background-color: $gray;
        border-radius: $border-radius-b;
        color: $white;
        font-size: $font-size-m-xl;

        .card{
            padding: 20px;
            height: $card-height;
            border-radius: $border-radius-s;
            background: linear-gradient(180deg, rgba(255, 96, 96, 1), rgba(0, 0, 0, 1) 167%);
            position: relative;
            p{
                width: 25%;
                position: absolute;
                bottom: 0;
            }
        }
    }
}