@import "./mixins.scss";
@import "./variables.scss";
@import './flexbox.scss';
@import './grid.scss';
@import './media_queries/index.scss';
@import './error.scss';

body{
    margin: 0;
    font-family: $font-family;

    .navbar{
        @include flex;
        @include flex-row;
        @include justify-between;
        
        .navlinks{
            @include flex;
            @include align-center;
            a{
                color: $primary-color;
                font-weight: $font-weight-normal;
            }
        }
    }

    .section-img{
        position: relative;
        overflow: hidden;
        border-radius: $border-radius-b;
        
        h1{
            margin: 0;
            @include center-block($z-first);
            color: $white;
            font-weight: $font-weight-normal;
        }
        
        .overlay{
            position: absolute;
            width: 100%;
            height: $img-height;
            border-radius: $border-radius-b;
            background-color: $black;
            opacity: 30%;
            z-index: $z-second;
        }
        
        img{
            @include center-block($z-third);
            width: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            border-radius: $border-radius-b;
        }
    
    }
    
    .cards{
        column-gap: 5%;
        background-color: $gray;
        border-radius: $border-radius-b;
        color: $white;
        font-size: $font-size-m-xl;

        .card{
            padding: 20px;
            border-radius: $border-radius-s;
            background: linear-gradient(180deg, rgba(255, 96, 96, 1), rgba(0, 0, 0, 1) 167%);
            position: relative;
            p{
                position: absolute;
                bottom: 0;
            }
        }
    }
}