@import url('https://fonts.googleapis.com/css?family=Montserrat');

//CONTAINER PADDING
$pad-lg: 40px 100px;
$pad-sm: 20px;

// COLORS
$primary-color: #FF6060;
$white: #ffffff;
$gray: #F6F6F6;
$black: #000000;


// TYPOGRAPHY
// Font family
$font-family: 'Montserrat';

// Font Sizes
$font-size-xl: 48px;
$font-size-l: 36px;
$font-size-b: 24px;
$font-size-m-xl: 18px;
$font-size-m-l: 14px;
$font-size-m-b: 13px;
$font-size-m-s: 12px;
$font-size-m-xs: 10px;
$font-size-error-small: 96px;
$font-size-error: 288px;

// Font Weights
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-error: 700;

// Line Height
$line-height-m-s: 14.26px;
$line-height-m-b: 17.11px;
$line-height-m-l: 18.54px;
$line-height-xs: 19.96px;
$line-height-s: 25.67px;
$line-height-b: 34.22px;
$line-height-l: 51.34px;
$line-height-xl: 68.45px;
$line-height-err-s: 136.9px;
$line-height-err: 410.69px;

// BORDER
// Border Radius
$border-radius-s: 10px;
$border-radius-b: 25px;


// BREAKPOINTS
// Media Queries
$breakpoint-xs-width: 335px;
$breakpoint-lg-width: 1240px;
$dropdown-lg: 1023px;
$dropdown-xs: 582px;

// CONTAINER WIDTHS
$container-img-height: 415px;

//CARDS & IMAGES
$card-width: 340px;
$card-height: 340px;
$card-width-s: 255px;
$card-height-s: 255px;
$img-height: 223px;
$img-height-s: 111px;

//Z-Index
$z-first: 3000; 
$z-second: 2000;
$z-third: 1000;