@import "../variables.scss";

@media (min-width : 1024px) {
    .footer{
        padding-top: 66px;
        padding-bottom: 30px;
        gap: 30px;
        p{
            font-size: $font-size-b;
        }
    }
}
@media (max-width : 1024px) {
    .footer{
        padding-top: 62px;
        padding-bottom: 54px;
        gap: 36px;
        p{
            font-size: $font-size-m-s;
        }
    }
}