@import '../flexbox.scss';
@import '../grid.scss';
@import '../variables.scss';
@import './error.scss';
@import './housing.scss';
@import './about.scss';
@import './footer.scss';

@media (min-width : 1024px) {
    .homepage{
        padding: $pad-lg;
    }
    .navbar{
        .navlinks{
            gap: 57px;
            a{
                font-size: $font-size-b;
            }
        }
    }
    h1{
        font-size: $font-size-xl;
        width: max-content;
    }
    .section-img{
        margin-top: 53px;
        height: $img-height;
        margin-bottom: 43px;
    }
    .cards{
        @include grid;
        @include grid-cols-3;
        row-gap: 50px;
        padding: 50px 56px;
        .card{
            height: $card-height;
        }
    }
}

@media (max-width : 1024px) {
    .homepage{
        padding: $pad-sm;
    }
    .navbar{
        height: 47px;
        .logo{
            img{
                width: 145px;
            }
        }
        .navlinks{
            gap: 10px;
            a{
                font-size: $font-size-m-s;
            }
        }
    }
    .section-img{
        margin-top: 20px;
        height: $img-height-s;
        margin-bottom: 20px;
        h1{
            font-size: $font-size-b;
            width: 223px;
            left: 40% !important;
        }
    }
    .cards{
        @include flex;
        @include flex-col;
        gap: 20px;
        padding: 0;
        .card{
            height: $card-height-s;
            p{
                width: 30%;
            }
        }
    }
}